@page "/room/{roomId}"
@using SimpleChat.Client.BlazorApp.Const
@using System.Linq
@using SimpleChat.Core.Client
@using SimpleChat.Core.Domain.Interfaces
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ILocalStorageService _localStorageService
@inject IRoomService _roomService
@inject IToastService _toastService
@attribute [Authorize]

<h3>Room: @_roomService.Rooms.Single(x => x.Id.ToString() == RoomId).Name</h3>

<div class="form-group">
    <label>
        User: @_userName
    </label>
</div>
<EditForm Model="_messages" OnValidSubmit="Send">
    <div class="form-group">
        <label>
            Message:
            <input @bind="_messageInput" size="50"/>
        </label>
    </div>
    <button type="submit" disabled="@(!_messageBroker?.IsConnected())" class="btn btn-primary">Send</button>
</EditForm>
<hr>

<ul id="messagesList">
    @foreach (var message in _messages)
    {
        <li>@message</li>
    }
</ul>

@code {

    [Parameter]
    public string? RoomId { get; set; }

    private IMessageBrokerClient? _messageBroker;
    private readonly List<string> _messages = new();
    private string? _userName;
    private string? _messageInput;
    private string? _accessToken;

    protected override async Task OnParametersSetAsync()
    {
        _messages.Clear();
        var msg = await _roomService.GetMessages(RoomId);
        foreach (var messageResponse in msg)
            _messages.Add($"[{messageResponse.CreatedAt:g}] {messageResponse.UserName}: {messageResponse.Text}");

        if (_messageBroker != null)
        {
            await _messageBroker.Stop();
            _messageBroker = null;
        }
        _messageBroker = new MessageBrokerClient(_navigationManager.BaseUri, _accessToken!, RoomId);
        _messageBroker.On((createdAt, userName, message) =>
        {
            if (message.First() == '/')
                return;

            var newMessage = $"[{createdAt:g}] {userName}: {message}";
            _messages.Add(newMessage);
            if (_messages.Count > 50)
                _messages.RemoveAt(0);
            StateHasChanged();
        });
        await _messageBroker.Start();
    }

    protected override async Task OnInitializedAsync()
    {
        var state = await _authenticationStateProvider.GetAuthenticationStateAsync();
        _userName = state.User.Identity?.Name;

        _accessToken = await _localStorageService.GetItemAsStringAsync(AuthConst.AccessToken);
    }

    private async Task Send()
    {
        if (string.IsNullOrWhiteSpace(_messageInput))
        {
            _toastService.ShowWarning("Message is empty");
            return;
        }

        await _messageBroker.SendMessage(_messageInput);
        _messageInput = string.Empty;
        StateHasChanged();
    }

}